<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Real-Time Image Toggle</title>
        <link rel="stylesheet" href="/static/css/styles.css">
    </head>

    <body>

        <div id="container">
            <div class="right">

                <div class="grid">
                    <div>
                        <h3>Dean Sir</h3>
                        <div class="diya">
                           
                            <div class="flameContainer">
                                <span id="flame1"><div
                                        class="flame"></div></span>
                            </div>
                            
                        </div>
                        
                    </div>
                    <div>
                       <h3>Dr.Lekamge</h3>
                        <div class="diya">
                            <div class="flameContainer">
                                <span id="flame2"><div
                                        class="flame"></div></span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <h3>Ms Kumudu</h3>
                        <div class="diya">
                            <div class="flameContainer">
                                <span id="flame3"><div
                                        class="flame"></div></span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <h3>Ms Kaushlya<</h3>
                        <div class="diya">
                            <div class="flameContainer">
                                <span id="flame4"><div
                                        class="flame"></div></span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <h3>Ms Niribika</h3>
                        <div class="diya">
                            <div class="flameContainer">
                                <span id="flame5"><div
                                        class="flame"></div></span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <h3>Ms Adheeba</h3>
                        <div class="diya">
                            <div class="flameContainer">
                                <span id="flame6"><div
                                        class="flame"></div></span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <h3>Mr Kalinga</h3>
                        <div class="diya">
                            <div class="flameContainer">
                                <span id="flame7"><div
                                        class="flame"></div></span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <h3>Mr Anuradha</h3>
                        <div class="diya">
                            <div class="flameContainer">
                                <span id="flame8"><div
                                        class="flame"></div></span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <h3>Ms Saranga</h3>
                        <div class="diya">
                            <div class="flameContainer">
                                <span id="flame9"><div
                                        class="flame"></div></span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <h3>Ms Tenushi</h3>
                        <div class="diya">
                            <div class="flameContainer">
                                <span id="flame10"><div
                                        class="flame"></div></span>
                            </div>
                        </div>

                    </div>
                    <div>
                        <h3>Ms Ashansa</h3>
                        <div class="diya">
                            <div class="flameContainer">
                                <span id="flame11"><div
                                        class="flame"></div></span>
                            </div>
                        </div>

                    </div>
                    <div>
                        <h3>Mr Lakshitha</h3>
                        <div class="diya">
                            <div class="flameContainer">
                                <span id="flame12"><div
                                        class="flame"></div></span>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="left">
                
                <div class="but"></div>
                <button id="toggleButton1">Dean Sir</button>

                <button id="toggleButton2">Dr.Lekamge</button>

                <button id="toggleButton3">Ms Kumudu</button>

                <button id="toggleButton4">Ms Kaushlya</button>

                <button id="toggleButton5">Ms Niribika</button>

                <button id="toggleButton6">Ms Adheeba</button>

                <button id="toggleButton7">Mr Kalinga</button>

                <button id="toggleButton8">Mr Anuradha</button>

                <button id="toggleButton9">Ms Saranga</button>

                <button id="toggleButton10">Ms Tenushi</button>
                <button id="toggleButton11">Ms Ashansa</button>
                <button id="toggleButton12">Mr Lakshitha</button>
            </div>
            </div>
            </div>
        </div>

        <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
        <script src="/static/js/script.js"></script>
    </body>
</html>
